{% extends '::base.html.twig' %}
{% block body %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{path('libro_manage_area')}}">Area</a></li>
  <li><a href="{{path('libro_manage_expediente')}}">Expediente</a></li>
  <li><a href="{{path('libro_manage_documento')}}">Documento</a></li>
</ul>
<style>
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
</style>
<nav>
  <div class="nav-wrapper">
    <!-- <a href="#" class="brand-logo">Inicio</a> -->
    <a href="#" data-activates="vmobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
        <li><a href="{{path('libro_manage')}}"><i class="material-icons left">home</i></a></li>
        <li><a class="dropdown-button" href="#" data-activates="dropdown1">Gestión<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#"><i class="material-icons left">timeline</i>Reportes</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li>{{nombre}}</li>
      <li><a href="{{path('libro_main_logout')}}"><i class="material-icons">power_settings_new</i></a></li>
    </ul>
    <!-- //estructuras responsive y dropdown -->
      <ul id="vmobile" class="side-nav">
        <li><a href="{{path('libro_manage')}}"><i class="material-icons">home</i></a></li>
        <li style="color: black"><a href="#" ><strong>{{nombre}}</strong></a></li>
        <li class="divider"></li>
        <li><a href="#"><strong>Gestión</strong></a></li>
        <li><a href="{{path('libro_manage_area')}}">Area</a></li>
        <li><a href="{{path('libro_manage_expediente')}}">Expediente</a></li>
        <li><a href="{{path('libro_manage_documento')}}">Dcoumento</a></li>
        <li class="divider"></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="{{path('libro_main_logout')}}">Cerrar Sesión</a></li>
      </ul>
  </div>
</nav>
<div id="container" style="width: 75%;">
    <canvas id="canvas"></canvas>
</div>
<script>
    var randomScalingFactor = function() {
        return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
    };
    var randomColorFactor = function() {
        return Math.round(Math.random() * 255);
    };
    var randomColor = function() {
        return 'rgba(' + randomColorFactor() + ',' + randomColorFactor() + ',' + randomColorFactor() + ',.7)';
    };

    var barChartData = {
        labels: [{% for libro in libros %}
          "{{libro.fecha|date('d/m/Y')}}",
        {% endfor %}],
        datasets: [{
            label: 'Por Fecha',
            backgroundColor: "rgba(220,220,220,0.5)",
            data: [
              {% for libro1 in libro2 %}
                 {{libro1.id}}+1,{{libro1.id}},
              {% endfor %}
            ]
        }]

    };

    window.onload = function() {
        var ctx = document.getElementById("canvas").getContext("2d");
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                // Elements options apply to all of the options unless overridden in a dataset
                // In this case, we are setting the border of each bar to be 2px wide and green
                elements: {
                    rectangle: {
                        borderWidth: 2,
                        borderColor: 'rgb(0, 255, 0)',
                        borderSkipped: 'bottom'
                    }
                },
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Chart.js Bar Chart'
                }
            }
        });

    };
</script>

<ol>
{% for libro in libros %}
  <li>{{libro.fecha|date('d/m/Y')}}</li>
{% endfor %}
</ol>
{% endblock %}
