{% extends '::base.html.twig' %}
{% block body %}
<ul id="dropdown1" class="dropdown-content">
  <li><a href="{{path('libro_manage_area')}}">Area</a></li>
  <li><a href="{{path('libro_manage_expediente')}}">Expediente</a></li>
  <li><a href="{{path('libro_manage_documento')}}">Documento</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <!-- <a href="#" class="brand-logo">Inicio</a> -->
    <a href="#" data-activates="vmobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
        <li><a href="{{path('libro_manage')}}"><i class="material-icons left">home</i></a></li>
        <li><a class="dropdown-button" href="" data-activates="dropdown1">Gestión<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="#"><i class="material-icons left">timeline</i>Reportes</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li>{{nombre}}</li>
      <li><a href="{{path('libro_main_logout')}}"><i class="material-icons">power_settings_new</i></a></li>
    </ul>
    <!-- //estructuras responsive y dropdown -->
      <ul id="vmobile" class="side-nav">
        <li><a href="{{path('libro_manage')}}"><i class="material-icons">home</i></a></li>
        <li style="color: black"><a href="#" ><strong>{{nombre}}</strong></a></li>
        <li class="divider"></li>
        <li><a href="#"><strong>Gestión</strong></a></li>
        <li><a href="{{path('libro_manage_area')}}">Area</a></li>
        <li><a href="{{path('libro_manage_expediente')}}">Expediente</a></li>
        <li><a href="{{path('libro_manage_documento')}}">Documento</a></li>
        <li class="divider"></li>
        <li><a href="#">Reportes</a></li>
        <li><a href="#">Cerrar Sesión</a></li>
      </ul>
  </div>
</nav>
<section class="section-ajustar">
  <table class="bordered responsive-table striped">
    <thead>
      <tr>
        <th>Codigo</th>
        <th>Nombre</th>
        <th>Encargado</th>
        <th>Telefono</th>
        <th>Acciones</th>
      </tr>
    </thead>
    {% for areaM in area %}

  <form class="" action="{{path('libro_manage_area_update')}}" method="post">
    <div id="{{areaM.id}}" class="modal">
      <div class="modal-content">
        <h4>Modificar Area</h4>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="idArea" id="ID" readonly value="{{areaM.id}}">
            <label for="ID"><strong></strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="nombre" id="NOMBRE" value="{{areaM.nombre}}">
            <label for="NOMBRE"><strong>Nombre</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="encargado" id="ENCARGADO" value="{{areaM.encargado}}">
            <label for="ENCARGADO"><strong>Encargado</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="telefono" id="TELEFONO" value="{{areaM.telefono}}" maxlength="11">
            <label for="TELEFONO"><strong>Telefono</strong></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn red waves-effect waves-light modal-action modal-close">cerrar
         <i class="material-icons left">close</i>
       </a>
        <button class="btn waves-effect waves-light" type="submit" name="submit">modificar
         <i class="material-icons left">edit</i>
        </button>
      </div>
    </div>
  </form>
  <div id="p{{areaM.id}}" class="modal">
    <div class="modal-content">
      <h4>Desea eliminar este elemento?</h4>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="idArea" id="ID" readonly value="{{areaM.id}}">
          <label for="ID"><strong></strong></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="nombre" id="NOMBRE" readonly value="{{areaM.nombre}}">
          <label for="NOMBRE"><strong>Nombre</strong></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="encargado" id="ENCARGADO" readonly value="{{areaM.encargado}}">
          <label for="ENCARGADO"><strong>Encargado</strong></label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input type="text" name="telefono" id="TELEFONO" readonly value="{{areaM.telefono}}" maxlength="11">
          <label for="TELEFONO"><strong>Telefono</strong></label>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a class="btn red waves-effect waves-light modal-action modal-close">cerrar
       <i class="material-icons left">close</i>
     </a>
      <a class="btn waves-effect waves-light" href="{{path('libro_manage_area_delete', {'id' : areaM.id}) }}">eliminar
       <i class="material-icons left">delete</i>
     </a>
    </div>
  </div>
    <tr>
      <td>{{areaM.id}}</td>
      <td>{{areaM.nombre}}</td>
      <td>{{areaM.encargado}}</td>
      <td>{{areaM.telefono}}</td>
      <td colspan="2"><a class="modal-trigger tooltipped" data-position="left" data-delay="50" data-tooltip="Modificar" href="#{{areaM.id}}"><i class="material-icons">edit</i></a><a class="modal-trigger tooltipped" data-position="right" data-delay="50" data-tooltip="Eliminar" href="#p{{areaM.id}}"><i class="material-icons">delete</i></a></td>
    </tr>
    {% endfor %}
  </table>
  <a href="#insertModal" class="btn-floating btn-large waves-effect waves-light red flotante modal-trigger"><i class="material-icons">add</i></a>
  <!-- añadir -->
  <form class="" action="{{path('libro_manage_area_insert')}}" method="post">
    <div id="insertModal" class="modal">
      <div class="modal-content">
        <h4>Añadir Area</h4>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="idArea" id="ID" >
            <label for="ID"><strong>Codigo</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="nombre" id="NOMBRE" >
            <label for="NOMBRE"><strong>Nombre</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="encargado" id="ENCARGADO" >
            <label for="ENCARGADO"><strong>Encargado</strong></label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input type="text" name="telefono" id="TELEFONO" maxlength="11">
            <label for="TELEFONO"><strong>Telefono</strong></label>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn red waves-effect waves-light modal-action modal-close">cerrar
         <i class="material-icons left">close</i>
       </a>
        <button class="btn waves-effect waves-light" type="submit" name="submit">Insertar
         <i class="material-icons left">add</i>
        </button>
      </div>
    </div>
  </form>
</section>
{% endblock %}
